* {
  color: #1a1917;
  background-color: #f0b000;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

/* grid layout */

.container-header {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}

.header {
  grid-row: 1 / 3;
  grid-column: 3 / 4;
}

.container-placeholder {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
}

.placeholder {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.container-winners {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  column-gap: 15px;
}

.winner {
  padding: 2px;
}

.picture {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
}

.director {
  grid-row: 1 / 3;
  grid-column: 3 / 4;
}

.actress {
  grid-row: 1 / 3;
  grid-column: 4 / 5;
}

.actor {
  grid-row: 1 / 3;
  grid-column: 5 / 6;
}

/* display */

img#oscar{
  width: 427px;
  height: 640px;
}

h1#title {
  cursor: pointer;
}

.winner {
  color: darkgreen;
}

.more {
  font-style: italic;
  cursor: pointer;
  text-decoration: underline;
}

.additional-text {
  font-style: italic;
  color: #454036;
}

.year-container {
  margin-top: 15px;
  text-align: center;
}

/* modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
}

.modal-main {
  position: fixed;
  background: #f0b000;
  padding: 4px;
  width: 40%;
  height: auto;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
  justify-content: center;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}