* {
  color: black;
}

h1#title {
  cursor: pointer;
}

.winner {
  color: darkgreen;
}

.nytimes {
  cursor: pointer;
  text-decoration: underline;
}

.byline {
  font-style: italic;
  color: darkslateblue;
}